<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddNewItemServlet</servlet-name>
        <servlet-class>AddNewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToStockServlet</servlet-name>
        <servlet-class>AddToStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeFromStockServlet</servlet-name>
        <servlet-class>TakeFromStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryReportServlet</servlet-name>
        <servlet-class>InventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialReportServlet</servlet-name>
        <servlet-class>FinancialReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionLogServlet</servlet-name>
        <servlet-class>TransactionLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalUsageReportServlet</servlet-name>
        <servlet-class>PersonalUsageReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewItemServlet</servlet-name>
        <url-pattern>/AddNewItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToStockServlet</servlet-name>
        <url-pattern>/AddToStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeFromStockServlet</servlet-name>
        <url-pattern>/TakeFromStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryReportServlet</servlet-name>
        <url-pattern>/InventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialReportServlet</servlet-name>
        <url-pattern>/FinancialReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionLogServlet</servlet-name>
        <url-pattern>/TransactionLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalUsageReportServlet</servlet-name>
        <url-pattern>/PersonalUsageReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
